@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.explore-main-container{
    padding: 50px 70px;
}

.explore-main-banner{
    margin: 0 0 0 0;
    font-family: "rubik";
    height: 450px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 0 0 75px;
    color: #1C2344;
    background: url("../../assets/banner-image.jpg") no-repeat;
    background-size: cover;
}

.explore-banner-order-text-container{
    font-size: 36px;
    font-weight: 600;
    display: flex;
    gap: 15px;
}

.explore-banner-input-container{
    display: flex;
}

.explore-banner-find-address-input, .explore-banner-find-address-button{
    height: 40px;
}

.explore-banner-find-address-button{
    cursor: pointer;
}

.explore-banner-find-address-input{
    width: 250px;
    border-width: 0;
    border-radius: 10px 0 0 10px;
    padding: 0 0 0 30px ;
    margin: 0 0 0 -15px;
}

input.explore-banner-find-address-input
{
    font-size:18px;
    color: #1C2344;
}

.explore-banner-find-address-input:focus {
    outline-width: 0;
}

.explore-banner-find-address-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F29F00;
    width: 75px;
    border-radius: 0 10px 10px 0;
}

.explore-banner-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-banner-order-text-logo{
    width: 100px;
    height: 40px;
    background: url("../../assets/icon-logo.png") no-repeat;
    background-size: contain;

}

.explore-food-category-wrapper{
    margin: 50px 0;
    display: flex;
    gap: 20px;
    overflow: auto;
}

.explore-food-list-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}