@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Rubik";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.overflow-hidden{
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: inherit;
}

@media (max-width: 1023px) {

  html,
  body {
    font-size: 16px;
  }
}